@media (max-width: 420px) {
  body {
    justify-content: flex-start;
  }
  .splitter {
    margin-top: 3rem;
  }
  .container {
    grid-template-columns: 1fr;
    row-gap: 4rem;
    width: 100%;
    padding: 2rem 2.5rem;
  }
  .tip-btns {
    grid-template-columns: repeat(2, 1fr);
  }
  input {
    padding: 1rem;
  }
  .tip h2,
  .total h2 {
    font-size: 1.7rem;
  }
}
